body {
  background-color: rgb(25, 25, 25);
}

.b--hide-last > :last-of-type {
  border: none;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.z--1 {
  z-index: -1;
}
