.bg {
  background-color: hsl(196deg 20% 76% / 99%);
  border-radius: 3px;
}

.rarity {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
  background-color: var(--rarity-color, transparent);
}

.common {
  --rarity-color: rgb(30 255 0);
}

.rare {
  --rarity-color: rgb(0 112 221);
}

.epic {
  --rarity-color: rgb(147 69 255);
}

.legendary {
  --rarity-color: rgb(255 128 0);
}

.mithic {
  --rarity-color: rgb(229 204 128);
}

.container {
  position: fixed;
  bottom: 1.25rem;
  left: 1.5rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  min-width: 140px;
  max-width: calc(100vw - 2rem - 3rem);
  line-height: 1.25;

  .gifted {
    font-size: 1.25rem;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 0.125rem;
    user-select: none;
  }

  .giftName {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0.425rem;
    color: var(--rarity-color, black);
    display: flex;
    column-gap: 0.25rem;
    justify-content: center;
    align-items: center;
  }

  .giftDescription {
    font-size: 0.875rem;
    user-select: none;
  }

  .outside {
    position: absolute;
    top: -2rem;
    display: flex;
    column-gap: 1rem;

    @media (min-width: 751px) {
      left: 0;
    }

    @media (max-width: 750px) {
      right: 0;
      flex-direction: row-reverse;
    }

    .button {
      padding-inline: 0.25rem;
      padding-block: 0.125rem;
      border: none;
      user-select: none;

      .button {
        padding-inline: 0.45rem;
        padding-block: 0.25rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 750px) {
    width: calc(100vw - 2rem - 3rem);
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 33%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  .dialogContainer {
    margin-inline: 1rem;
    margin-block: 0.75rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    width: 100%;
    max-width: 560px;

    > h2 {
      margin-top: 0;
      margin-bottom: 0.475rem;
    }

    > ul {
      list-style-type: none;
      margin: 0;
      padding-inline: 0.75rem;

      > li {
        color: var(--rarity-color, black);
        margin-bottom: 0.325rem;
        cursor: pointer;
      }
    }
  }
}
