.container {
  position: absolute;
  bottom: calc(1rem * var(--game-scale));
  width: calc(var(--game-width) - (40px * var(--game-scale)));
  height: calc((0.25rem + 2px + 32px) * var(--game-scale));
  background-color: rgb(200 200 200 / 0.75);
  font-size: calc(10px * var(--game-scale));
  border-radius: calc(2px * var(--game-scale));
  padding: calc(0.5rem * var(--game-scale));
  user-select: none;
  display: flex;
  flex-direction: row;
  column-gap: calc(0.25rem * var(--game-scale));
}

.npc {
  flex-shrink: 1;

  img {
    width: calc((32px + 0.125rem * 2) * var(--game-scale));
    border: calc(1px * var(--game-scale)) black solid;
    border-radius: calc(1px * var(--game-scale));
    image-rendering: pixelated;
  }
}
