.container {
  position: absolute;
  top: calc(0.375rem * var(--game-scale));
  right: calc(0.25rem * var(--game-scale));

  --notification-width: 1.75rem * var(--game-scale);
}

.notification {
  width: calc(var(--notification-width));
  padding: calc(0.25rem * var(--game-scale));
  margin-block-end: calc(0.25rem * var(--game-scale));
  border-radius: calc(1.5px * var(--game-scale));
  background-color: #ebeb2b;
  box-shadow: 0 0 6px 2px rgb(10 10 10 / 25%);
  color: #333;
  font-family: 'Mali';
  word-break: break-word;
  font-size: calc(0.325rem * var(--game-scale));

  > img {
    width: 100%;
    border-radius: calc(1.5px * var(--game-scale));
    image-rendering: pixelated;
  }

  > div {
    height: calc(var(--notification-width)) !important;
  }

  > span {
    user-select: none;
  }
}
