.track-container {
  max-width: calc(100% - 1rem * 2);
  display: inline-grid;
  grid-template-areas:
    'header header header header header header'
    'image text1 text1 text1 text1 text1'
    'image text2 text2 text2 text2 text2'
    'image text3 text3 text3 text3 text3';
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.25rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  padding: 0.75rem 1rem;
  color: rgb(192 212 243 / 0.9);
  background-color: rgb(var(--background-color) / 0.65);
  border: 1px solid;
  border-radius: 3px;
  transition: all 125ms ease-in-out;

  &:hover {
    color: rgb(192 212 243 / 1);
    background-color: rgb(var(--background-color) / 0.8);
  }

  > img {
    width: 100px;
    border-radius: 3px;
    grid-area: image;
  }

  @mixin text($i) {
    grid-area: text#{$i};
    margin: 0;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  > p.text1 {
    @include text(1);
    font-size: 1.25rem;
  }

  > p.text2 {
    @include text(2);
  }

  > p.text3 {
    @include text(3);
  }
}
