@keyframes uperino {
  0% {
    transform: translateY(0lvh) scale(60%);
  }
  80% {
    transform: translateY(20lvh) scale(100%);
  }
  100% {
    transform: translateY(25lvh) scale(100%);
  }
}

@keyframes lefterino {
  0% {
    transform: translateX(100dvw) translateY(10lvh) scale(95%);
  }
  40% {
    transform: translateX(5dvw) translateY(1lvh) scale(100%);
  }
  60% {
    transform: translateX(-5dvw) translateY(-1lvh) scale(100%);
  }
  100% {
    transform: translateX(-100dvw) translateY(-10lvh) scale(105%);
  }
}

@keyframes righterino {
  0% {
    transform: translateX(-100dvw) translateY(-10lvh) scale(105%);
  }
  35% {
    transform: translateX(-5dvw) translateY(-1lvh) scale(100%);
  }
  55% {
    transform: translateX(5dvw) translateY(1lvh) scale(100%);
  }
  100% {
    transform: translateX(100dvw) translateY(10lvh) scale(95%);
  }
}

@keyframes scalerino {
  0% {
    transform: translateY(-5lvh) scale(0%);
  }
  40% {
    transform: translateY(-1lvh) scale(100%);
  }
  60% {
    transform: translateY(1lvh) scale(100%);
  }
  100% {
    transform: translateY(5lvh) scale(0%);
  }
}

@keyframes opaciterino {
  0% {
    transform: translateY(1rem) scale(90%);
    opacity: 0;
    pointer-events: none;
  }
  45% {
    transform: translateY(1rem) scale(90%);
    opacity: 0;
    pointer-events: none;
  }
  50% {
    transform: translateY(0rem) scale(100%);
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes notification {
  0% {
    transform: translateY(1rem) scale(95%);
    opacity: 0;
  }
  10% {
    transform: translateY(0rem) scale(100%);
    opacity: 1;
  }
  90% {
    transform: translateY(0rem) scale(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(-2rem) scale(95%);
    opacity: 0;
  }
}
